*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: var(--font-primary);
	font-size: var(--fs-body-1);
	font-weight: var(--fw-body-regular);
	line-height: var(--lh-body-1);
	color: var(--color-text);
	background: var(--color-surface);
}

a {
	color: inherit;
	text-decoration: none;
}

.container,
.bb-container {
	width: min(100% - (var(--space-md) * 2), 1200px);
	margin-inline: auto;
}
